openai.inferenceType=OPENAI
openai.llmModel=gpt-4o-mini
openai.apiKey=
openai.moderation=omni-moderation-latest
openai.imageGenModel=dall-e-3

mistral.inferenceType=MISTRAL
mistral.llmModel=mistral-small-latest
mistral.apiKey=
mistral.moderation=mistral-moderation-latest

openrouter.inferenceType=OPENROUTER
openrouter.llmModel=mistralai/ministral-8b
openrouter.apiKey=