<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mac-inference="http://www.mulesoft.org/schema/mule/mac-inference"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/mac-inference http://www.mulesoft.org/schema/mule/mac-inference/current/mule-mac-inference.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">

    <configuration-properties file="automation-credentials.properties"/>

    <mac-inference:text-generation-config name="OpenAIConfig" doc:name="Open AI Text generation config" doc:id="1ef66d01-d3ec-442a-bf61-99919d73f97e" >
        <mac-inference:openai-connection apiKey="${openai.apiKey}" openAIModelName="${openai.llmModel}" timeout="60000">
            <mac-inference:mcp-sse-servers >
                <mac-inference:mcp-sse-server key="ERP Server" value="http://mcp-server-demo-b2jb0y.1d6nel.usa-e1.cloudhub.io" />
                <mac-inference:mcp-sse-server key="CRM Server" value="http://mcp-server-demo-crm-b2jb0y.1d6nel.usa-e1.cloudhub.io" />
            </mac-inference:mcp-sse-servers>
        </mac-inference:openai-connection>
    </mac-inference:text-generation-config>

    <mac-inference:text-generation-config name="MistralAIConfig" doc:name="Mistral AI Text generation config" doc:id="1ef66d01-d3ec-442a-bf61-99919d73f97e" >
        <mac-inference:mistralai-connection apiKey="${mistral.apiKey}" mistralAIModelName="${mistral.llmModel}" timeout="60000">
            <mac-inference:mcp-sse-servers >
                <mac-inference:mcp-sse-server key="ERP Server" value="http://mcp-server-demo-b2jb0y.1d6nel.usa-e1.cloudhub.io" />
                <mac-inference:mcp-sse-server key="CRM Server" value="http://mcp-server-demo-crm-b2jb0y.1d6nel.usa-e1.cloudhub.io" />
            </mac-inference:mcp-sse-servers>
        </mac-inference:mistralai-connection>
    </mac-inference:text-generation-config>

    <mac-inference:text-generation-config name="OpenrouterConfig" doc:name="Mistral AI Text generation config" doc:id="1ef66d01-d3ec-442a-bf61-99919d73f97e" >
        <mac-inference:openrouter-connection apiKey="${openrouter.apiKey}" openRouterModelName="${openrouter.llmModel}" timeout="60000">
            <mac-inference:mcp-sse-servers >
                <mac-inference:mcp-sse-server key="ERP Server" value="http://mcp-server-demo-b2jb0y.1d6nel.usa-e1.cloudhub.io" />
                <mac-inference:mcp-sse-server key="CRM Server" value="http://mcp-server-demo-crm-b2jb0y.1d6nel.usa-e1.cloudhub.io" />
            </mac-inference:mcp-sse-servers>
        </mac-inference:openrouter-connection>
    </mac-inference:text-generation-config>

    <mac-inference:text-generation-config name="AnthropicConfig" doc:name="Anthropic Text generation config" doc:id="1ef66d01-d3ec-442a-bf61-99919d73f97e" >
        <mac-inference:anthropic-connection apiKey="${anthropic.apiKey}" anthropicModelName="${anthropic.llmModel}" timeout="60000">
            <mac-inference:mcp-sse-servers >
                <mac-inference:mcp-sse-server key="ERP Server" value="http://mcp-server-demo-b2jb0y.1d6nel.usa-e1.cloudhub.io" />
                <mac-inference:mcp-sse-server key="CRM Server" value="http://mcp-server-demo-crm-b2jb0y.1d6nel.usa-e1.cloudhub.io" />
            </mac-inference:mcp-sse-servers>
        </mac-inference:anthropic-connection>
    </mac-inference:text-generation-config>

    <mac-inference:moderation-config name="OpenAIModeration" doc:name="MuleSoft Inference Moderation config" doc:id="8bd9c1fe-3176-4319-9d91-090e4e6da3cc" >
        <mac-inference:openai-moderation-connection apiKey="${openai.apiKey}" openAIModelName="${openai.moderation}"/>
    </mac-inference:moderation-config>

    <mac-inference:moderation-config name="MistralAIModeration" doc:name="MuleSoft Inference Moderation config" doc:id="81c94800-d1ef-417f-a084-3052a907abc6" >
        <mac-inference:mistralai-moderation-connection apiKey="${mistral.apiKey}" mistralAIModelName="${mistral.moderation}"/>
    </mac-inference:moderation-config>

    <mac-inference:image-generation-config name="OpenAIImageGen" doc:name="MuleSoft Inference Image generation config" doc:id="aba51427-1dd3-4915-a411-8fe6543ee6ac" >
        <mac-inference:openai-image-connection apiKey="${openai.apiKey}" openAIModelName="${openai.imageGenModel}" />
    </mac-inference:image-generation-config>

    <mac-inference:vision-config name="OpenAIVision" doc:name="MuleSoft Inference Vision config" doc:id="797661b2-a4ac-493d-8550-45d05d03da17" >
        <mac-inference:openai-vision-connection apiKey="${openai.apiKey}" openAIModelName="${openai.visionModel}" />
    </mac-inference:vision-config>

    <mac-inference:vision-config name="MistralAIVision" doc:name="MuleSoft Inference Vision config" doc:id="2ed49ebd-4050-4b0b-acc1-aba75096c78a" >
        <mac-inference:mistralai-vision-connection apiKey="${mistral.apiKey}" mistralAIModelName="${mistral.visionModel}" />
    </mac-inference:vision-config>

    <mac-inference:vision-config name="OpenrouterVision" doc:name="MuleSoft Inference Vision config" doc:id="43158d4f-b08f-4ddc-8ff1-9865c406316e" >
        <mac-inference:openrouter-vision-connection apiKey="${openrouter.apiKey}" openRouterModelName="${openrouter.visionModel}" />
    </mac-inference:vision-config>
</mule>